{% extends "base.html" %}

{% block content %}

  <form method ='post'>   
      <div class="content content-text wow fadeIn">
        <center><h1>Build A Blog</h1></center>
        {% if blogs|length == 0 %}
        <p>No blogs yet</p>
        {% endif %}
        {% for blog in blogs %}
        <h1><a href="/blog?id={{blog.id}}">{{blog.title}}</a></h1>
        <p><back.place(relx=.5, rely=.5, anchor="center"><p>
        
       
        <p>{{blog.body}}</p>
        <hr>
        {% endfor %}
      </div>
  </form>    
{% endblock %}
